        </div>

        <div id="footer" class="main-footer p-md-4 p-3">
            <div class="container">
                <div class="text-center">
                    Copyright © 2021 <a href="/">IDEALCO LOTTO</a>
                </div>
            </div>
        </div>
        <script src="/custom/js/common.js"></script>
        <script src="/custom/js/custom.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152886509-1"></script> -->
        <!-- <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-152886509-1');
        </script> -->

        <!-- <script type="text/javascript">
            $('.ga-link').click(function (e) {
                var link = $(this).attr('href');
                var clicked_item = $(this).text();
                gtag('config', 'UA-152886509-1');

                ga('create', 'event', clicked_item, 'Internal-click', 'label,10');

                ga('send', 'event', {
                    eventCategory: 'Click Internal Link',
                    eventAction: 'click-' + clicked_item,
                    eventLabel: clicked_item,
                    eventValue: 0
                });

                if (link) {
                    gtag('config', 'UA-152886509-1', {
                        'page_title': clicked_item,
                        'page_path': link
                    });
                }
            })
        </script> -->
        </body>
</html>