<%- include('../../layout/header'); -%>
<% 
const old = flashMessage.old?JSON.parse(flashMessage.old):undefined;
const errors = flashMessage.errors?JSON.parse(flashMessage.errors):undefined;
%>
<div class="container">
    <div class="text-center">
        <h1 class="page-title text-black">Forgot password</h1>
    </div>
    <hr>

    <div class="col-md-6 mx-auto cart card-theme">

        <form method="POST">
            <div class="form-group">
                
                <label for="email">email <span class="text-danger">*</span>:</label>
                <input type="email" class="form-control" id="email" name="email" value="<%- (typeof old !='undefined')?old.email:''; %>">
                <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email:''; %></small>

            </div>
    
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit"> forgot password</button>
              </div>
        </form>
    </div>
</div>
<%- include('../../layout/footer'); -%>